[Desktop Entry]
Version=1.0
Name=local-prune
GenericName=local-prune
Comment=Remote tracking git branch pruner.
Exec=/usr/bin/local-prune
TryExec=/usr/bin/local-prune
Icon=/usr/share/icons/local-prune-icon.xpm
Terminal=true
Type=Application
Categories=Utility;
Keywords=Prune;Git;
