Package: local-prune
Version: 1.0-1
Priority: optional
Architecture: all
Maintainer: ThamesDev <https://github.com/ThamesDev/>
Depends: git, bash
Description: automatically prunes local git branches
 This package prunes remote tracking local git branches whose remote branches have been deleted.
