Source: local-prune
Maintainer: ThamesDev <freddie@jemison.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0.0-8
Section: utils

Package: local-prune
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git, bash, shc
Description: dead local git branch pruner
 This package prunes local remote tracking git branches whose remote branches have been deleted.
